.top_books {
  padding-top: 50px;
  .top_books_text {
    .header {
      @include text_property(
        $fontFamily: $font_family_Primary,
        $fontSize: $font_size_header_35,
        $fontWeight: $font_weight_semi_bold,
        $lh: $lh_1,
        $textColor: $text_color_secondary
      );
    }
    .paragraph {
      @include text_property(
        $fontFamily: $font_family_Primary,
        $fontSize: $font_size_subtitle_16,
        $fontWeight: $font_weight_normal,
        $lh: $lh_sm,
        $textColor: $text_color_third
      );
    }

    .top_books_action {
      .btn_primary {
        @include btn_primary(
          $backgroundColor: colorOpacity($primary_color_gradiant_first, 0.1),
          $color: $text_color_primary,
          $padding: 10px 15px,
          $fontSize: $font_size_subtitle_16,
          $borderRadius: 5px,
          $hoverBackgroundColor: $primary_color_gradiant_first,
          $hoverColor: $white_color
        );
      }
    }
  }

  .single_book {
    border-radius: 5px;
    margin-bottom: 30px;
    box-shadow: $shadow;
    &_body {
      .title {
        @include text_property(
          $fontFamily: $font_family_Primary,
          $fontSize: $font_size_subtitle_16,
          $fontWeight: $font_weight_semi_bold,
          $lh: $lh_sm,
          $textColor: $text_color_secondary
        );
        @include line_dots;
        transition: transition(300ms, ease-in-out);
        &:hover {
          color: $secondary_color;
        }
      }
      .sub_title {
        @include text_property(
          $fontFamily: $font_family_Primary,
          $fontSize: $font_size_caption_12,
          $fontWeight: $font_weight_normal,
          $lh: $lh_sm,
          $textColor: $text_color_third
        );
      }
    }
  }
}
